@font-face { font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face { font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face { font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.main_container {
  flex-grow: 1;
}

.container {
  width: 1160px;
  margin: auto;
}

.main_navigation {
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF 40px, #FFE17F 40px, #FFE17F 500px);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 17px;
}

.logo_link {
  display: block;
  margin-bottom: 20px;
  width: 145px;
}

.logo_link[href]:hover {
  opacity: 0.6;
}

.logo_link[href]:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.logo_link[href]:active {
  opacity: 0.3;
  outline: none;
}

.search_form {
  display: grid;
  grid-template-columns: 359px 160px;
}

.search_input {
  width: 100%;
  position: relative;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 50px 0px 0px 50px;
  border-right: none;
  padding: 8px 48px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #FFE17F;
  background-image: url("../images/svg/search_icon.svg");
  background-repeat: no-repeat;
  background-position: left 16px top 50%;
}

.search_input:focus {
  outline: none;
}

.search_input_label:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}


.search_input:disabled {
  opacity: 0.3;
}

.search_input::placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
  width: 100%;
}

.search_submit {
  border: 2px solid #000000;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0px 50px 50px 0px;
  padding: 8px 56px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color: #FFE17F;
}

.search_submit:hover {
  background: #000000;
  color: #ffffff;
}

.search_submit:focus {
  outline: none;
}

.search_submit:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.navigation_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  list-style: none;
}

.navigation_list_inner {
  justify-content: space-between;
}

.navigation_catalog_list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation_catalog_list_inner {
  padding-bottom: 38px;
}

.navigation_item {
  position: relative;
  margin-right: 24px;
}

.navigation_item_different {
  margin-right: 10px;
}

.navigation_item_inner {
  margin-right: 16px;
}

.navigation_item:nth-child(2) {
  margin-right: auto;
}

.navigation_item:nth-child(3) {
  margin-right: 15px;
}

.navigation_item:last-child {
  margin-right: 0;
}

.navigation_catalog_item_log-in {
  margin-right: 20px;
}

.navigation-icon {
  margin-right: 10px;
}

.navigation_catalog_item {
  display: flex;
  align-items: center;
  margin-left: 44px;
}


.navigation_catalog_item:first-child {
  position: relative;
  margin-right: auto;
  margin-left: 0;
}

.navigation_catalog_item:nth-child(2) {
  margin-left: 0;
}


.navigation_link {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: #000000;
}

.navigation_link:hover {
  opacity: 0.6;
}

.navigation_link:focus {
  background: #FFE17F;
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.navigation_link:active {
  opacity: 0.3;
  outline: none;
}

.navigation_link_log_out {
  opacity: 0.3;
}

.navigation_link_basket {
  position: relative;
  padding-left: 15px;
}

.popover_basket {
  position: absolute;
  top: 30px;
  right: -83px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  width: 320px;
  min-height: 307px;
  background-color: #000000;
  box-sizing: border-box;
  z-index: 3;
}

.popover_basket_off {
  display: none;
}

.popover_basket::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 6px;
  top: -6px;
  right: 50%;
  background-image: url("../images/svg/popover_triangle.svg");
}

.basket_list {
  grid-column: 1/-1;
  list-style: none;
  padding: 0;
}

.basket_item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 83px;
  padding-left: 20px;
  padding-right: 20px;
}

.basket_item + .basket_item {
  border-top: 1px solid rgba(26, 26, 26, 0.8);
}

.basket_image {
  display: block;
  margin-right: 23px;
}

.basket_description {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  width: 170px;
  color: #FFFFFF;
  margin: 0;
}

.basket_item_link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.basket_item_link:focus,
.button_delete:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.button_delete {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 10px;
  height: 10px;
  border: none;
  padding-top: 10px;
  background-color: #000000;
  background-image: url("../images/svg/basket_delete.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button_delete:hover {
  opacity: 0.6;
}


.button_delete:active {
  opacity: 0.3;
}


.basket_price_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/-1;
  grid-row: 2/3;
  background-color: #1A1A1A;
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.basket_counter {
  display: flex;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 12px;
  padding-left: 20px;
}

.basket_counter_number {
  grid-column: 1/2;
}

.basket_counter_price {
  grid-column: 2/3;
}

.basket_open {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/-1;
  grid-row: 3/4;
  width: 280px;
  min-height: 50px;
  background-color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin: 20px auto;
}

.basket_open:hover {
  background-color: #FFE17F;
}

.basket_open:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.basket_open:active {
  background-color: #FFE17F;
  color: rgba(0, 0, 0, 0.3);
}

.basket_open:disabled {
  opacity: 0.3;
}

.navigation_link_basket::before {
  content: "2";
  width: 21px;
  height: 21px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Rubik" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
}

.navigation_catalog_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  z-index: 2;
}

.navigation_catalog_link_popover::after {
  position: absolute;
  right: -8px;
  top: -15px;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  border: 2px solid #000000;
  box-sizing: border-box;
  opacity: 0.3;
  content: "";
  background-image: url("../images/svg/plus_catalog.svg");
  background-repeat: no-repeat;
  background-position: left 48% top 47%;
  z-index: 1;
}


.navigation_catalog_link:hover {
  opacity: 0.6;
  text-decoration: underline;
}


.navigation_catalog_link:focus {
  text-decoration: underline;
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}


.navigation_catalog_link_popover:focus {
  text-decoration: underline;
  outline: 2px solid #AF4FFF;
  outline-offset: 18px;
}


.navigation_catalog_link:active {
  opacity: 0.3;
  outline: none;
  text-decoration: underline;
}

.navigation_catalog_link_popover {
  position: relative;
  padding-right: 60px;
  z-index: 3;
}


.popover_catalog_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 20px;
  left: -60px;
  width: 1160px;
  min-height: 180px;
  background-color: #FFE17F;
  list-style: none;
  padding: 33px 60px 26px 60px;
  box-sizing: border-box;
  z-index: 2;
}

.popover_catalog_off {
  display: none;
}

.popover_catalog_list_inside {
  list-style: none;
  padding: 0;
  min-width: min-content;
  margin-right: 60px;
}


.popover_catalog_item_inside {
  margin-bottom: 10px;
}


.popover_catalog_link {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}


.popover_catalog_link:hover {
  opacity: 0.6;
}

.popover_catalog_link:focus {
  outline: 2px solid #AF4FFF;
}

.popover_catalog_link:active {
  opacity: 0.3;
  outline: none;
}


.catalog_button_main {
  position: absolute;
  top: -15px;
  right: -60px;
  background-color: transparent;
  margin-left: 7px;
  padding: 0;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.catalog_button {
  background-color: transparent;
  margin-left: 7px;
  padding: 0;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.slider {
  background-image: linear-gradient(to bottom, #FFE17F, #FFE17F 27%, #FFFFFF 27%, #FFFFFF 100%);
}


.slider_button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider_button:hover {
  opacity: 0.6;
}

.slider_button:focus {
  outline: 3px solid #AF4FFF;
  outline-offset: 4px;
}

.slider_button:active {
  opacity: 0.3;
  outline: none;
}

.slider_item {
  display: flex;
  justify-content: space-between;
}

.slider_1,
.slider_2,
.slider_3 {
  display: flex;
  justify-content: space-between;
}

.slider_off {
  display: none;
}

.slider_number {
  display: flex;
  width: 250px;
  min-height: 135px;
  position: absolute;
  z-index: 0;
  top: 31px;
  right: 11px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 180px;
  line-height: 30px;
  align-items: center;
  text-align: right;
  color: #FFFFFF;
}

.slider_title {
  font-family: "Raleway", sans-serif;
  width: 560px;
  z-index: 1;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding-top: 123px;
  margin-bottom: 29px;
}

.slider_description {
  margin: 0;
  margin-bottom: 50px;
}


.slider_list {
  margin: 0;
  margin-right: 40px;
  padding: 0;
  list-style: none;
}

.slider_description_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: 2/4;
  width: 560px;
}

.image-wrapper {
  position: relative;
  width: 560px;
  margin-right: 40px;
}

.button-wrapper {
  display:flex;
  justify-content: space-between;
  width: 542px;
  position: absolute;
  top: 37%;
  left: 0;
  margin-left: 24px;
}

.slider_indicators_list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.slider_indicators_item + .slider_indicators_item {
  margin-left: 20px;
}


.slider_indicators_link {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50px;
  text-decoration: none;
}

.slider_indicators_link:hover {
  opacity: 0.6;
}

.slider_indicators_link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 4px;
}

.slider_indicators_link:active {
  opacity: 0.3;
  outline: none;
}

.slider_indicators_link:disabled {
  opacity: 0.1;
}

.slider_indicators_link_current:hover {
  opacity: 1;
}

.slider_link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF 38%, #FFE17F 38%, #FFE17F 60%, #FFFFFF 60%, #FFFFFF 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 40px;
}

.slider_link:hover {
  background: #FFE17F;
}

.slider_link:focus {
  outline: 2px solid #AF4FFF;
}

.slider_link:active {
  background: #FFCC33;
  outline: none;
}

.slider_link:disabled {
  opacity: 0.3;
}

.slider_indicators_link_current {
  background-color: #000000;
}

.slider_indicators_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.slider_dl_wrapper {
  display: flex;
  margin-top: 6px;
}

.slider_dl {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 10px;;
  display: flex;
  flex-direction: column;
}

.slider_dd {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 15px;
  order: 1;
}

.slider_dt {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  order: 2;
}


.catalog_categories {
  padding-top: 61px;
}

.catalog_categories_list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  list-style: none;
}

.catalog_categories_item {
  display: flex;
  flex-direction: column;
}

.catalog_categories_item:focus-within {
  outline: 3px solid #7B61FF;
  outline-offset: 2px;
  box-sizing: border-box;
  border-radius: 5px;
}

.catalog_categories_item:active {
  opacity: 0.3;
}


.catalog_categories_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
  background-color: #FFE17F;
}

.catalog_categories_link:hover {
  background-color: #ffc700;
}

.catalog_categories_link:focus {
  outline: none;
}

.catalog_categories_link_virtual {
  padding: 53px 31px;
}

.catalog_categories_link_selfi {
  padding: 43px 37px;
  padding-bottom: 0;
}

.catalog_categories_link_camera {
  padding: 37px 45px;
}

.catalog_categories_link_fitness {
  padding: 47px 26px;
}

.catalog_categories_link_smart {
  padding: 31px 52px;
}

.catalog_categories_link_quadro {
  padding: 45px 14px;
}


.catalog_categories_description {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 0;
}

.delivery {
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF 28%, #F0F0F0 28%, #F0F0F0 100%);
  padding-bottom: 72px;
}

.delivery_wrapper {
  display: flex;

}

.delivery_content_wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.delivery_description_wrapper {
  display: flex;
  flex-direction: column;
  width: 470px;
  padding-right: 242px;
  padding-bottom: 72px;
}

.delivery_list {
  list-style: none;
  min-height: 200px;
  padding-top: 64px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 65px;
  padding-bottom: 0;
  margin: 0;
  margin-top: 13px;
  margin-right: 116px;
  border-right: 7px solid #000000;
}

.delivery_item {
  margin-bottom: 35px;
}

.delivery_item:last-child {
  margin-bottom: 0;
}

.services_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  min-height: 40px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color:#000000;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, transparent, transparent 38%, #FFE17F 38%, #FFE17F 60%, transparent 60%, transparent 100%);
  text-align: center;
  box-sizing: border-box;
}

.services_link:not(.services_link_current):hover {
  background-color: #FFE17F;
}

.services_link:not(.services_link_current):focus {
  outline: 2px solid #AF4FFF;
  outline-offset: -1px;
}

.services_link:not(.services_link_current):active {
  background-color: #FFCC33;
  outline: none;
  background-image: none;
}

.credit_link.services_link_current {
  padding-left: 32px;
}


.services_link_current {
  background-image: none;
  background-color: #000000;
  color: rgba(255, 225, 127, 1);
  width: 280px;
  justify-content: flex-start;
  padding-left: 20px;
}

.services_link_current:hover {
  color: rgba(255, 225, 127, 0.5);
}

.services_link_current:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.services_link_current:active {
  color: rgba(255, 225, 127, 0.3);
  outline: none;
}

.delivery_title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  margin-top: 86px;
  margin-bottom: 34px;
}

.delivery_description {
  margin: 0;
  width: 480px;
}

.delivery_description_different {
  width: 455px;
}

.delivery_card {
  background-image: url("../images/svg/delivery_img.svg");
  background-repeat: no-repeat;
  background-position: right 20px top 90px;
}

.garanty_card {
  background-image: url("../images/svg/garanty_img.svg");
  background-repeat: no-repeat;
  background-position: right 10px top 85px;
}

.credit_card {
  background-image: url("../images/svg/credit_img.svg");
  background-repeat: no-repeat;
  background-position: right 20px top 85px;
}

.delivery_description_none {
  display: none;
}

.delivery_article {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 70px;
  margin-bottom: 70px;
}

.delivery_article:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}


.delivery_article_link {
  display: flex;
  background-color: rgba(255, 225, 127, 1);
  padding: 35px 39px;
  padding-bottom: 35px;
  border: none;
}

.delivery_article_link:hover {
  background-color: #ffc700;
}

.delivery_article_link:focus {
  background-color: rgba(255, 225, 127, 1);
  outline: none;
}

.delivery_article_description {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  width: 1160px;
  padding: 0 150px;
  min-height: 100px;
  background-color: #F0F0F0;
}

.delivery_article_description::before {
  position: absolute;
  content: "";
  width: 125px;
  height: 100px;
  left: 0;
  top: 0;
  background-color: #FFE17F;
  background-image: url("../images/svg/delivery_article.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.delivery_article_description::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  font-size: 24px;
  right: 42px;
  top: 30px;
  background-color: rgba(220, 220, 220, 1);
  background-image: url("../images/svg/delivery_article_tooltip.svg");
  background-repeat: no-repeat;
  background-position: left 19px top 14px;
  border-radius: 50%;
  opacity: 0.4;
}


.delivery_article:hover .delivery_article_description::before{
  background-color: #FFC700;
}

.delivery_article:hover .delivery_article_description::after{
  opacity: 1;
}

.delivery_article_description:focus  {
  outline: 2px solid #AF4FFF;
}

.delivery_article_description:active {
  background-color: #ffffff;
  opacity: 0.3;
}

.delivery_article_button_wrapper {
  background-color: #F0F0F0;
  padding: 29px 42px;
}

.delivery_article_button {
  border: none;
  background-color: rgba(220, 220, 220, 0.5);
  width: 40px;
  height:40px;
  border-radius: 50%;
  cursor: pointer;
}

.delivery_article_button:hover {
  background-color: rgba(220, 220, 220, 1);
}

.delivery_article_button:focus {
  outline: none;
}

.delivery_article_description:active + .delivery_article_button_wrapper {
  background-color: #ffffff;
  opacity: 0.3;
}

.about_us {
  display: flex;
}

.about_us_column {
  display: flex;
  flex-direction: column;
}

.about_us_column:not(:last-child) {
  margin-right: 118px;
}


.decor_wrapper {
  width: 84px;
  border-top: 7px solid #000000;
  margin-bottom: 40px;
}

.about_us_title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  margin-bottom: 48px;
}

.about_us_description {
  margin: 0;
  margin-bottom: 30px;
  width: 510px;
}

.about_us_description_different {
  margin-bottom: 24px;
}

.work_time_description {
  margin: 0;
}

.work_time_description:last-of-type {
  margin-bottom: 30px;
}

.about_us_list {
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 35px;
}

.about_us_item {
  position: relative;
  color:rgba(255, 225, 127, 1);
  margin-bottom: 8px;
}

.about_us_item::before {
  content: "\2022";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 8px;
  height: 8px;
  font-size: 40px;
}

.about_us_list_style {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.about_us_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  min-height: 40px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color:#000000;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF 38%, #FFE17F 38%, #FFE17F 60%, #FFFFFF 60%, #FFFFFF 100%);
}

.about_us_link_different {
  width: 262px;
}

.about_us_link:hover {
  background-color: #FFE17F;
  background-image: none;
}

.about_us_link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: -1px;
}

.about_us_link:active {
  background: #FFCC33;
  outline: none;
}

.contacts_title {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts_tel_link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #444444;
}

.about_us_column:last-child {
  margin-bottom: 70px;
}

.subscribe {
  background-color: #F0F0F0;
  padding-top: 64px;
  padding-bottom: 58px;
}

.subscribe_title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  width: 350px;
  margin: 0;
  margin-left: 8px;
  margin-right: 248px;
}

.subscribe_description_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 144px;
}

.subscribe_description {
  width: 525px;
  margin: 0;
  align-self: flex-end;
}

.subscribe_form {
  display: grid;
  grid-template-columns: 557px 253px;
  grid-template-rows: 55px;
}

.subscribe_input {
  grid-column: 1/2;
  grid-row: 1/2;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #CECECE;
  background-color: #F0F0F0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.subscribe_input::placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscribe_input:focus {
  background-color: #DCDCDC;
  outline: none;
}

.subscribe_input:invalid {
  border-bottom: 3px solid #FF3D3D;
  background-color: #F0F0F0;
}

.subscribe_input:disabled {
  opacity: 0.3;
}

.subscribe_submit {
  grid-column: 2/3;
  grid-row: 1/2;
  display: block;
  width: 100%;
  min-height: 55px;
  border: none;
  border: 3px solid #CECECE;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  padding-right: 2px;
}

.subscribe_submit:hover {
  outline: 3px solid #000000;
  outline-offset: -3px;
}

.subscribe_submit:focus {
  outline: 2px solid #AF4FFF;;
  outline-offset: 2px;
}

.subscribe_submit:active {
  outline: 3px solid #000000;
  outline-offset: -3px;
  opacity: 0.3;
}

.subscribe_submit:disabled {
  outline: 3px solid #E5E5E5;
  outline-offset: -3px;
  opacity: 0.3;
}

.form_and_notation_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe_notation {
  position: relative;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.subscribe_notation::before {
  content: "";
  position: absolute;
  left: -34px;
  top: 4px;
  width: 20px;
  height: 20px;
  color: #08AF00;
  background-image: url("../images/svg/tick_notation.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page_footer {
  background-color: #444444;
  padding-top: 62px;
  padding-bottom: 61px;
}

.logo_yellow_link {
  display: block;
  width: 145px;
  margin-bottom: 27px;
}

.logo_yellow_link[href]:hover {
  opacity: 0.6;
}

.logo_yellow_link[href]:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.logo_yellow_link[href]:active {
  opacity: 0.3;
  outline: none;
}


.footer_grid_wrapper {
  display: grid;
  grid-template-columns: 240px 1fr 175px;
  row-gap: 46px;
}

.footer_services_list {
  display: flex;
  width: 524px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.foote_social_list {
  display: flex;
  width: 214px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer_description {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer_services_list {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
}

.footer_services_item {
  margin-right: 32px;
}

.footer_services_item:last-child {
  margin-right: 0;
}

.foote_social_list {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer_services_link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer_services_link:hover {
  color: #FFC700;
  text-decoration: underline;
}

.footer_services_link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.footer_services_link:active {
  color: #FFC700;
  text-decoration: underline;
  opacity: 0.3;
  outline: none;
}

.footer_social_link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  color: #444444;
}

.footer_social_link:hover {
  background-color: #FFC700;
}

.footer_social_link:focus {
  outline: none;
}


.footer_social_link:active {
  opacity: 0.5;
  background-color: #FFC700;
  color: rgba(68, 68, 68, 0.3);
  outline: none;
}

.footer_social_item {
  margin-right: 15px;
}

.footer_social_item:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.footer_social_item:last-child {
  margin-right: 0;
}



.footer_decor_line {
  width: 80px;
  border-top: 7px solid #FFC700;
  align-self: center;
}

.footer_tel {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin-top: 6px;
}

.footer_tel:hover {
  color: #FFC700;
}

.footer_tel:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.footer_tel:active {
  color: #FFFFFF;
  opacity: 0.3;
  outline: none;
}

.logo_partner_link {
  justify-self: end;
  color: #FFC700;
}

.logo_partner_link:hover {
  color: #ffffff;
}

.logo_partner_link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.logo_partner_link:active {
  color: #FFFFFF;
  opacity: 0.3;
  outline: none;
}

.glass_wrapper {
  padding-left: 200px;
  padding-right: 161px;
  width: 1080px;
  margin: 0 auto;
}

.breadcrumbs_title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  margin-bottom: 9px;
  padding-top: 35px;
}

.breadcrumbs_list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
}

.breadcrumbs_item {
  position: relative;
  margin-right: 39px;
}

.breadcrumbs_item:not(:last-child)::after {
  position: absolute;
  top: 13px;
  right: -20px;
  width: 4px;
  height: 7px;
  background-image: url("../images/svg/breadcrumbs_arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.breadcrumbs_item:last-child {
  margin-right: 0;
}

.breadcrumbs_link {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.breadcrumbs_link:not(.breadcrumbs_link_current):hover {
  opacity: 0.6;
}

.breadcrumbs_link:not(.breadcrumbs_link_current):focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.breadcrumbs_link:not(.breadcrumbs_link_current):active {
  opacity: 0.3;
  outline: none;
}

.filter {
  background-color: #F0F0F0;
  padding-top: 25px;
}

.filter_title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding-left: 60px;
}

.sorting_title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.filter_form {
  width: 200px;
}

.filter_group_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fieldset_legend {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 20px;
  padding: 0;
}

.filter_group_item {
  border-top: 2px solid #000000;
  padding-top: 12px;
  margin-bottom: 36px;
}

.filter_group_item:nth-child(2) {
  margin-bottom: 34px;
}

.fieldset_group {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}


.filter_label {
  position: relative;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 18px;
  padding-left: 36px;
}


.filter_label:last-child {
  margin-bottom: 0;
}

.filter_label_different {
  margin-bottom: 21px;
}

.range_control {
  position: relative;
  margin-top: 10px;
  position: relative;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 30px;
}

.range_line {
  position: absolute;
  top: -2px;
  width: 200px;
  height: 2px;
  background-color: #DCDCDC;
}

.range_scale {
  position: absolute;
  top: 0;
  left: 0;
  width: 119px;
  height: 2px;
  background-color: #000000;
}


.range_button {
  position: absolute;
  top: -9px;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}


.filter_input[type="checkbox"] + .control_mark {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 16px
}

.filter_input[type="radio"] + .control_mark {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 50%;
  margin-right: 16px
}


.filter_input[type="checkbox"]:checked + .control_mark {
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: transparent;
  background-image: url("../images/svg/tick_input.svg");
  background-repeat: no-repeat;
  background-position: center;
}


.filter_label:hover {
  opacity: 0.6;
}
.filter_label:disabled {
  opacity: 0.1;
}

.filter_input:disabled + .control_mark {
  opacity: 0.1;
}

.filter_input:focus + .control_mark,
.filter_input:checked:focus + .control_mark {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
  border-radius: 0;
}


.filter_input[type="checkbox"]:hover {
  opacity: 0.6;
}

.filter_label:active{
  opacity: 0.3;
}

.filter_input[type="checkbox"]:active {
  opacity: 0.3;
  outline: none;
}

.filter_input[type="radio"]:checked + .control_mark {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
  margin-right: 16px
}


.filter_input[type="radio"]:checked + .control_mark::before {
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  box-sizing: border-box;
  border-radius: 50%;
  content: "";
}

.range_button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.range_button:hover {
  background-color: #EBEBEB;
  border-color: #6b6b6b;

}

.range_button:active {
  outline: none;
  background-color: #000000;
  border-color: #000000;
}

.range_button_min {
  left: -8px;
}


.range_button_max {
  right: -9px;
}

.button_price_wrapper{
  position:absolute;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.button_price_wrapper_min {
  top: 1px;
  left: -2px;
}

.button_price_wrapper_max {
  top: 1px;
  right: 0;
}

.label_range_price {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  position: absolute;
  top: 15px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}

.label_range_price_min {
  left: -9px;
  width: 45px;
}

.label_range_price_min:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.label_range_price_max {
  right: -29px;
  width: 59px;
}

.label_range_price_max:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.label_range_price_text {
  position: absolute;
}

.text_min {
  top: 0;
  left: -2px;
}

.text_max {
  top: 0;
  right: 42px;
}


.filter_input_price {
  border: none;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  box-sizing: border-box;
}

.input_price_min {
  padding: 0;
  text-align: start;
  width: 29px;
}

.input_price_max {
  padding: 0;
  text-align: start;
  width: 37px;
}

.filter_input_price::-webkit-outer-spin-button,
.filter_input_price::-webkit-inner-spin-button {
  appearance: none;
}


.filter_input_price:focus {
  outline: none;
}

.submite_button {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color:#000000;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #F0F0F0, #F0F0F0 40%, #FFE17F 40%, #FFE17F 60%, #F0F0F0 60%, #F0F0F0 100%);
  padding: 8px 48px;
  display: block;
  text-align: center;
  align-self: flex-start;
  border: none;
  cursor: pointer;
}

.submite_button:hover {
  background: #FFE17F;
}

.submite_button:focus {
  outline: 2px solid #AF4FFF;
}

.submite_button:active {
  background: #FFCC33;
  outline: none;
}

.submite_button:disabled {
  opacity: 0.3;
}



.filter_grid_container {
  display: grid;
  grid-template-columns: 1fr 320px 840px 1fr;
  grid-template-rows: 57px 1fr min-content min-content;
  padding-top: 14px;
  padding-bottom: 0;
  background-color: #F0F0F0;
}


.filters_navigation_list {
  display: flex;
  grid-column: 2/4;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 9px;
}

.filters_navigation_item {
  margin-right: 206px;
}

.filters_navigation_item:nth-child(2) {
  margin-right: 189px;
}

.filters_navigation_item:nth-child(3) {
  margin-right: 201px;
}

.filter_form {
  justify-self: center;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 32px;
}

.sorting_arrow_list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting_arrow_item + .sorting_arrow_item {
  margin-left: 2px;
}

.sorting_arrow_img {
  opacity: 0.2;
}

.sorting_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.sorting_button:focus {
  outline: 2px solid #AF4FFF;
}


.sorting_arrow_img:hover {
  opacity: 0.5;
}

.sorting_button:active {
  outline: none;
}

.sorting_button:active .sorting_arrow_img{
  opacity: 1;
  outline: none;
}

.sorting_arrow_img_down {
  transform: rotate(180deg);
}

.filter_results {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: #FFFFFF;
  padding: 70px 40px;
  padding-bottom: 0;
}

.filter_results_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 44px;
  column-gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
}

.filter_results_item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 380px min-content;
  row-gap: 32px;
  align-items: flex-start;
}

.filter_results_img {
  display: block;
  position: relative;
}

.filter_results_link_new::before {
  position: absolute;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  background-image: url("../images/svg/new_card.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  z-index: 1;
}

.filter_results_link {
  position: relative;
  grid-column: 1/-1;
}

.hover_link_container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 380px;
  background-color: rgba(240, 240, 240, 0.8);
  z-index: -1;
}

.hover_link {
  position: absolute;
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background-image: linear-gradient(to bottom, transparent, transparent 40%, #FFE17F 40%, #FFE17F 57%, transparent 57%, transparent 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 40px;
}

.hover_description_wrapper {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 207px 150px;
}

.hover_link:focus {
  outline: none;
}

.hover_link:active {
  background-image: linear-gradient(to bottom, transparent, transparent 40%, #FFC700 40%, #FFC700 57%, transparent 57%, transparent 100%);
  outline: none;
}

.hover_link:hover {
  background: #FFE17F;
}


.filter_results_link:hover  .hover_link_container {
  z-index: 1;
}

.filter_results_link:hover + .hover_description_wrapper {
  opacity: 0.6;
}

.filter_results_link:active + .hover_description_wrapper {
  opacity: 0.3;
}

.filter_results_img:active + .filter_results_item:focus {
  outline: none;
}

.filter_results_item:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.filter_results_list:active .filter_results_item:focus-within {
  outline: none;
}


.filter_results_description {
  grid-column: 1/2;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.filter_results_price {
  grid-column: 2/3;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.sorting_select {
  width: 159px;
  border: none;
  background-color: #F0F0F0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.sorting_select:hover {
  opacity: 0.6;
}

.sorting_select:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}


.show_more {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  border: 3px solid #E5E5E5;
  margin-bottom: 44px;
  width: 755px;
  min-height: 49px;
}

.show_more:hover {
  background: #000000;
  color: #ffffff;
  border: 3px solid #000000;
}

.show_more:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.show_more:active {
  background: #000000;
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid #000000;
  outline: none;
}

.show_more:disabled {
  opacity: 0.3;
}

.pagination {
  grid-column: 3/4;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding-bottom: 78px;
}

.pagination_wrapper {
  width: 760px;
  display: flex;
  justify-content: space-between;
  background-color: #EBEBEB;
  margin: 0 auto;
}

.pagination_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 200px;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.pagination_item {
  width: 40px;
  height: 40px;
}


.pagination_link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Rubik" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  width: 30px;
  height: 40px;
  text-align: center;
  color: rgba(68, 68, 68, 0.3);
}


.pagination_link:not(.pagination_link_current):hover {
  color: rgba(68, 68, 68, 1);
}

.pagination_link:not(.pagination_link_current):focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;

}

.pagination_link:not(.pagination_link_current):active {
  opacity: 0.1;
  outline: none;
}

.pagination_button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 134px;
  min-height: 71px;
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
}

.pagination_button:hover {
  background: #DCDCDC;
}


.pagination_button:focus {
  outline: 2px solid #AF4FFF;
}

.pagination_button:active {
  opacity: 0.6;
  outline: none;
}

.modal_container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 3;
}

.modal_contant {
  position: relative;
  width: 920px;
  min-height: 568px;
  background: #FFFFFF;
  border: 10px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 62px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

}

.modal_close {
  display: none;
}

.modal_title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  margin-bottom: 42px;
}

.close_button {
  display: flex;
  align-items: center;
  border: none;
  width: 26px;
  height: 26px;
  background-color: transparent;
  margin-top: 15px;
  cursor: pointer;
  padding: 0;
}

.close_button:hover {
  opacity: 0.6;
}

.close_button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.close_button:active {
  opacity: 0.3;
}

.modal_form_input_list {
  list-style: none;
  width: 760px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}


.modal_form_label {
  position: relative;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  display: flex;
  flex-direction: column;
  width: 360px;
}


.modal_form_label_counter {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.modal_form_input {
  width: 360px;
  height: 60px;
  box-sizing: border-box;
  margin-top: 14px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
  padding: 20px 100px 20px 20px;
  background: #F0F0F0;
  border: none;
}

.input_name {
  background-image: url("../images/svg/name_icons.svg");
  background-repeat: no-repeat;
  background-position: right 20px top 24px;
}

.input_email {
  background-image: url("../images/svg/email_icons.svg");
  background-repeat: no-repeat;
  background-position: right 20px top 24px;
}

.modal_form_input:hover,
.button_counter:hover {
  background-color: #DCDCDC;
}

.modal_form_input:focus,
.button_counter:focus {
  outline: 2px solid #AF4FFF;
  color: rgba(0, 0, 0, 1);
}

.modal_form_input:active,
.button_counter:active {
  background: #EBEBEB;
  color: rgba(0, 0, 0, 1);

}

.modal_form_input:invalid {
  outline: 2px solid #FF3D3D;
  outline-offset: -2px;;
}

.modal_form_input:disabled {
  opacity: 0.3;
}


.modal_form_input_notation {
  display: block;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  width: 360px;
}

.model_form_input_item_notation {
  margin-bottom: 42px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.modal_form_input_notation_wrong {
  color: #FF3D3D;
}

.modal_form_input_wishes {
  width: 540px;
}

.model_form_input_item_counter {
  width: 180px;
  margin-top: 0;
}

.modal_form_input_counter {
  width: 60px;
  border: none;
  background-color: #F0F0F0;
  color: #000000;
  text-align: center;
  padding: 0;
}

.modal_form_input_counter:focus {
  z-index: 1;
}


.modal_form_input_counter::-webkit-outer-spin-button,
.modal_form_input_counter::-webkit-inner-spin-button {
  appearance: none;
}

.modal_tooltip_button {
  position: absolute;
  top: -2px;
  right: 32px;
  width: 26px;
  height: 26px;
  border: none;
  background: #FFE17F;
  border-radius: 50%;
  cursor: pointer;
}

.modal_tooltip {
  position: absolute;
  top: 36px;
  right: -31px;
  display: none;
  box-sizing: border-box;
  width: 200px;
  min-height: 166px;
  background-color: #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  z-index: 1;
  padding: 19px 17px 19px 17px;
  text-align: left;
}

.modal_tooltip::before {
  position: absolute;
  width: 14px;
  height: 6px;
  top: -6px;
  right: 36px;
  background-image: url("../images/svg/modal_triangle.svg");
  background-repeat: no-repeat;
  content: "";
}

.modal_tooltip_button:hover  .modal_tooltip {
  display: block;
}

.modal_tooltip_button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.tooltip_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}


.counter_wrapper {
  margin: 0;
  display: flex;
  align-items: center;

}

.button_counter {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #F0F0F0;
  margin-top: 14px;
  border: none;
  cursor: pointer;
}

.button_counter_min::before {
  content: "\2212";
  width: 16px;
  height: 2px;
  top: 50%;
  left: 50%;
  color: #000000;
  font-size: 28px;
}

.button_counter_max::after {
  content: "\002B";
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  color: #000000;
  font-size: 28px;
}

.modal_button_submit {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  width: 200px;
  min-height: 40px;
  background-image: linear-gradient(to bottom, #ffffff, #ffffff 39%, #FFE17F 39%, #FFE17F 55%, #ffffff 55%, #ffffff 100%);
  border: none;
  padding: 0 10px;
  margin-top: 42px;
  cursor: pointer;
}

.modal_button_submit:hover {
  background-color: #FFE17F;
  background-image: none;
}

.modal_button_submit:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: -1px;
}

.modal_button_submit:active {
  background: #FFCC33;
  outline: none;
}



